---
import Timeline from "./Timeline.astro";
---

<div>
  <section
    id="education"
    class="container mx-auto flex min-h-screen w-full items-center justify-center px-4 text-center"
  >
    <div class="mt-8 flex flex-col items-center justify-center text-start">
      <Timeline />
    </div>
  </section>
</div>
