---
import Container from "@/components/Container.astro";

const pathname = Astro.url.pathname;

const isHomePage = pathname === "/";
const isProfilePage = pathname.startsWith("/profile");
const isProjectPage = pathname.startsWith("/projects");
const isBlogPage = pathname.startsWith("/blog");
---

<header
  class="sticky top-0 z-10 mx-auto flex w-full items-center justify-center xl:w-[1120px]"
>
  <Container class="flex max-w-full items-center justify-center">
    <div
      class="border-border fixed top-0 mt-5 w-max rounded-full bg-black/5 p-1 backdrop-blur-md"
    >
      <nav class="flex items-center">
        <ul class="flex items-center gap-1">
          <li>
            <a
              href="/"
              data-astro-prefetch
              class:list={[
                "block px-5 py-2 font-medium transition-colors",
                "hover:text-accent",
                isHomePage &&
                  "text-accent rounded-full bg-black/10 text-shadow-fuchsia-200 text-shadow-lg",
              ]}>Home</a
            >
          </li>
          <li>
            <a
              href="/profile"
              data-astro-prefetch
              class:list={[
                "block px-5 py-2 font-medium transition-colors",
                "hover:text-accent",
                isProfilePage &&
                  "text-accent rounded-full bg-black/10 text-shadow-fuchsia-200 text-shadow-lg",
              ]}>Profile</a
            >
          </li>
          <li>
            <a
              href="/projects"
              data-astro-prefetch
              class:list={[
                "block px-5 py-2 font-medium transition-colors",
                "hover:text-accent",
                isProjectPage &&
                  "text-accent rounded-full bg-black/10 text-shadow-fuchsia-200 text-shadow-lg",
              ]}>Projects</a
            >
          </li>
          <li>
            <a
              href="/blog"
              data-astro-prefetch
              class:list={[
                "block px-5 py-2 font-medium transition-colors",
                "hover:text-accent",
                isBlogPage &&
                  "text-accent rounded-full bg-black/10 text-shadow-fuchsia-200 text-shadow-lg",
              ]}>Blog</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </Container>
</header>
