---
import { Image } from "astro:assets";
import SocialLink from "./SocialLink.astro";
import Divider from "./Divider.astro";
---

<div
  class="container mx-auto flex min-h-screen w-full flex-col items-center justify-center px-4 py-8 text-center"
>
  <div class="text-start">
    <div
      class="mx-auto mb-10 flex max-w-fit flex-col items-center justify-center gap-6 md:flex-row"
    >
      <div class="mt-6 flex justify-center md:mt-0">
        <div class="group relative">
          <Image
            src="https://avatars.githubusercontent.com/u/118774393?v=4 "
            alt="Udomsak Sanprasert"
            class="h-40 w-40 rounded-lg object-cover md:h-56 md:w-56 lg:h-64 lg:w-64"
            width={248}
            height={248}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </div>
      <div class="mt-6 text-center md:mt-0 md:text-left">
        <p class="mb-3 text-4xl font-extrabold sm:text-5xl">
          <span id="hello-text">Hello</span>, I'm <span class="text-uma"
            >Udomsak S.🛸</span
          >
        </p>
        <p class="text-accent/80 mb-4 text-2xl font-semibold sm:text-xl">
          Software Engineer
        </p>

        <div
          class="flex flex-col items-center gap-3 text-gray-600 md:items-start"
        >
          <p>📍 Thailand, Bangkok</p>
          <a
            href="mailto:udomsak.sap@gmail.com"
            class="hover:text-accent transition-colors duration-200"
          >
            ✉️ udomsak.sap@gmail.com
          </a>
        </div>
      </div>
    </div>
    <Divider margin="my-8" />

    <div class="mx-auto mt-2 flex items-center justify-center space-x-4">
      <SocialLink />
    </div>
  </div>

  <script>
    let currentIndex = 0;
    const hello = [
      "Hola",
      "Bonjour",
      "Salut",
      "Ciao",
      "こんにちは",
      "안녕하세요",
      "สวัสดี",
    ];

    function randomIndex() {
      return ~~(Math.random() * hello.length);
    }

    function shuffleText(element: HTMLElement, newText: string) {
      const oldText = element.textContent || "";
      const maxLength = Math.max(oldText.length, newText.length);
      let currentText = oldText.split("");

      for (let i = 0; i < maxLength; i++) {
        setTimeout(() => {
          if (i < newText.length) {
            currentText[i] = newText[i];
          } else {
            currentText[i] = "";
          }
          element.textContent = currentText.join("");
        }, i * 100);
      }
    }

    window.setInterval(function () {
      let newIndex = randomIndex();
      while (newIndex === currentIndex) newIndex = randomIndex();
      currentIndex = newIndex;
      const helloTextElement = document.getElementById("hello-text");
      if (helloTextElement) {
        shuffleText(helloTextElement, hello[currentIndex]);
      }
    }, 1500);
  </script>

  <style>
    #hello-text {
      position: relative;
      display: inline-block;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  </style>
</div>
