---
import { Image } from "astro:assets";
import Social from "./Social.astro";
import { Icon } from "astro-icon/components";
---

<div
  class="container mx-auto flex min-h-screen w-full flex-col items-center justify-center px-4 py-8 text-center"
>
  <div class="w-full max-w-4xl text-start">
    <div class="float-left flex flex-col items-center justify-center gap-4">
      <Image
        src="https://avatars.githubusercontent.com/u/118774393?v=4 "
        alt="Udomsak Sanprasert"
        class="mr-4 h-40 w-40 rounded-md object-cover md:mb-0 md:h-56 md:w-56"
        width={248}
        height={248}
        loading="eager"
        decoding="async"
        fetchpriority="high"
      />
      <Social
        href="https://drive.google.com/file/d/1fkun0E-efW-4mPml6ZLaQ105jhLyW6QX/view"
        label="Download Resume"
      >
        <div class="flex items-center justify-center gap-0.5">
          <Icon name="download" class="text-2xl" />
          <span class="text-sm">Resume</span>
        </div>
      </Social>
    </div>
    <div>
      <p class="pb-2 text-3xl font-bold sm:text-4xl">
        Hi, I'm <span class="text-uma">Udomsak Sanprasert✨</span>
      </p>
      <div class="dropping-texts text-accent text-2xl font-semibold sm:text-xl">
        <div>Software Engineer</div>
        <div>Full-stack</div>
        <div>mostly Front-end</div>
        <div>Game developer!</div>
      </div>
    </div>
    <p class="text-sm leading-relaxed text-gray-700 sm:text-base">
      I'm a passionate full-stack developer (mostly front-end) focused on
      building scalable and user-friendly web applications. Proficient in <span
        class="text-accent font-black">React</span
      >,
      <span class="text-accent font-black">Node.js</span> , and
      <span class="font-black text-gray-900">Next.js</span>, I strive to write
      clean, maintainable code that delivers real value. Always seeking to learn
      and improve, I’m excited by modern tools like
      <span class="text-accent font-black">Astro</span>
      to expand my knowledge and build faster, more efficient websites. Ready to contribute
      to impactful and innovative projects.
    </p>
  </div>

  <style>
    .dropping-texts {
      display: inline-block;
      width: 240px;
      text-align: left;
      height: 36px;
      position: relative;
      overflow: hidden;
    }

    .dropping-texts > div {
      opacity: 0;
      position: absolute;
      font-size: inherit;
      animation-fill-mode: forwards;
      white-space: nowrap;
    }

    .dropping-texts > div:nth-child(1) {
      animation: roll 5s linear infinite 0s;
    }
    .dropping-texts > div:nth-child(2) {
      animation: roll 5s linear infinite 1s;
    }
    .dropping-texts > div:nth-child(3) {
      animation: roll 5s linear infinite 2s;
    }
    .dropping-texts > div:nth-child(4) {
      animation: roll2 5s linear infinite 3s;
    }

    @keyframes roll {
      0% {
        font-size: 0px;
        opacity: 0;
        transform: translateX(-30px) rotate(-25deg);
      }
      3% {
        opacity: 1;
        transform: rotate(0deg);
      }
      5% {
        font-size: inherit;
        opacity: 1;
        transform: translateX(0) rotate(0deg);
      }
      20% {
        font-size: inherit;
        opacity: 1;
        transform: translateX(0) rotate(0deg);
      }
      27% {
        font-size: 0px;
        opacity: 0.5;
        transform: translateX(20px) translateY(100px) rotate(0deg);
      }
      100% {
        font-size: 0px;
        opacity: 0;
        transform: translateX(-30px) rotate(15deg);
      }
    }

    @keyframes roll2 {
      0% {
        font-size: 0px;
        opacity: 0;
        transform: translateX(-30px) rotate(-25deg);
      }
      3% {
        opacity: 1;
        transform: rotate(0deg);
      }
      5% {
        font-size: inherit;
        opacity: 1;
        transform: translateX(0) rotate(0deg);
      }
      30% {
        font-size: inherit;
        opacity: 1;
        transform: translateX(0) rotate(0deg);
      }
      37% {
        opacity: 0;
        transform: scale(10) rotate(20deg);
      }
      100% {
        font-size: 0px;
        opacity: 0;
        transform: translateX(-30px) rotate(15deg);
      }
    }
  </style>
</div>
