---
import Social from "./Social.astro";
import { Icon } from "astro-icon/components";
---

<div
  class="flex w-full flex-col justify-center gap-4 sm:flex-row sm:items-center"
>
  <Social href="https://github.com/udomudom" label="GitHub profile">
    <Icon name="github" class="text-xl" />
  </Social>
  <span class="hidden text-gray-400 sm:inline dark:text-neutral-300">•</span>
  <Social
    href="http://linkedin.com/in/udomsak-sanprasert-79653133b"
    label="LinkedIn profile"
  >
    <Icon name="linkedin" class="text-xl" />
  </Social>
  <span class="hidden text-gray-400 sm:inline dark:text-neutral-300">•</span>

  <Social href="https://umaonthemoon.itch.io/" label="itch.io">
    <Icon name="itch" class="text-xl" />
  </Social>
  <span class="hidden text-gray-400 sm:inline dark:text-neutral-300">•</span>

  <Social href="mailto:udomsak.sap@gmail.com" label="Email me">
    <Icon name="email" class="text-xl" />
  </Social>
</div>
