<div class="container mx-auto max-w-5xl px-4 py-12">
  <div class="mx-4 grid gap-4 sm:grid-cols-12">
    <div class="col-span-12 sm:col-span-3">
      <div
        class="before:dark:bg-uma mb-14 text-center before:mx-auto before:mb-5 before:block before:h-3 before:w-24 before:rounded-md sm:text-left sm:before:mx-0"
      >
        <h3 class="text-3xl font-semibold">Timeline</h3>
        <span class="text-sm font-bold tracking-wider text-gray-400 uppercase"
          >Education & experience</span
        >
      </div>
    </div>
    <div class="relative col-span-12 space-y-6 px-4 sm:col-span-9">
      <div
        class="relative col-span-12 space-y-12 px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:-left-3 sm:before:w-0.5 before:dark:bg-gray-300"
      >
        <div
          class="before:dark:bg-uma flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:left-[-35px] sm:before:z-[1] sm:before:h-4 sm:before:w-4 sm:before:rounded-full"
        >
          <h3 class="text-xl font-semibold tracking-wide">
            CHITRALADA VOCATIONAL SCHOOL
          </h3>
          <time class="text-xs tracking-wide uppercase">2017 - 2019</time>
          <p class="mt-3">Diploma in Bussiness Computer.</p>
        </div>
        <div
          class="before:dark:bg-uma flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:left-[-35px] sm:before:z-[1] sm:before:h-4 sm:before:w-4 sm:before:rounded-full"
        >
          <h3 class="text-xl font-semibold tracking-wide">
            RANGSIT UNIVERSITY
          </h3>
          <time class="text-xs tracking-wide uppercase">2021 - 2025</time>
          <p class="mt-3">Bachelor of Science Program Computer Science</p>
        </div>
        <div
          class="before:dark:bg-uma flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:left-[-35px] sm:before:z-[1] sm:before:h-4 sm:before:w-4 sm:before:rounded-full"
        >
          <h3 class="text-xl font-semibold tracking-wide">
            SQC SOLUTION CO., LTD. (Cooperative Education)
          </h3>
          <time class="text-xs tracking-wide uppercase">Sep 2024</time>
          <p class="mt-3">
            Developed frontend components for a scalable ERP application using <strong
              >React</strong
            > and <strong>TypeScript</strong>. Collaborated with backend and
            design teams to deliver intuitive user experiences and ensure
            seamless integration.
          </p>
        </div>
        <div
          class="before:dark:bg-uma flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:left-[-35px] sm:before:z-[1] sm:before:h-4 sm:before:w-4 sm:before:rounded-full"
        >
          <h3 class="text-xl font-semibold tracking-wide">
            ANTxDPU Global Game Jam
          </h3>
          <time class="text-xs tracking-wide uppercase">Jan 2025</time>
          <p class="mt-3">
            Participated in <strong>Global Game Jam 2025</strong> at Dhurakij Pundit
            University. Developed a local multiplayer game in 48 hours using <strong
              >Godot Engine</strong
            > and <strong>Aseprite</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
