---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Content from "@/data/projects.md";
---

<Layout title="My Projects" description="Projects - Games, Web Apps and Things">
  <Container>
    <div
      class="mt-8 flex flex-col items-center justify-center pt-20 text-start"
    >
      <h1 class="mb-4 text-3xl font-extrabold sm:text-4xl">Projects</h1>
      <div class="w-full max-w-4xl text-start"><Content /></div>
    </div>
  </Container>
</Layout>
